# Configuration file

"dont touch" {
    S:"CONFIG VERSION"=MovingWorldCFG.1.0.0
}


general {
    B:"Rediscover powered blocks on next restart?"=false
}


mobile_chunk {
    S:highpriorityassembly_blocks <
        minecraft:portal
        minecraft:piston_extension
        minecraft:piston_head
        minecraft:sticky_piston
        minecraft:piston
        minecraft:portal
        minecraft:golden_rail
        minecraft:detector_rail
        minecraft:wooden_door
        minecraft:lever
        minecraft:stone_pressure_plate
        minecraft:iron_door
        minecraft:wooden_pressure_plate
        minecraft:stone_button
        minecraft:fence_gate
        minecraft:tripwire_hook
        minecraft:tripwire
        minecraft:wooden_button
        minecraft:unpowered_comparator
        minecraft:powered_comparator
        minecraft:activator_rail
        minecraft:spruce_fence_gate
        minecraft:birch_fence_gate
        minecraft:jungle_fence_gate
        minecraft:dark_oak_fence_gate
        minecraft:acacia_fence_gate
        minecraft:spruce_door
        minecraft:birch_door
        minecraft:jungle_door
        minecraft:acacia_door
        minecraft:dark_oak_door
        minecraft:observer
        nuclearcraft:reactor_door
        securitycraft:laser_block
        securitycraft:keypad
        securitycraft:retinal_scanner
        securitycraft:iron_door_reinforced
        securitycraft:keycard_reader
        securitycraft:portable_radar
        securitycraft:reinforced_fence_gate
        securitycraft:panic_button
        securitycraft:security_camera
        securitycraft:scanner_door
        securitycraft:reinforced_stone_pressure_plate
        securitycraft:reinforced_wooden_pressure_plate
        securitycraft:reinforced_observer
        securitycraft:reinforced_stone_button
        securitycraft:reinforced_wooden_button
        securitycraft:reinforced_lever
        securitycraft:keypad_door
        securitycraft:floor_ceiling_key_panel
        securitycraft:wall_key_panel
        securitycraft:sonic_security_system
        securitycraft:block_change_detector
        securitycraft:rift_stabilizer
        cfm:door_bell
        cfm:door_bell_spruce
        cfm:door_bell_birch
        cfm:door_bell_jungle
        cfm:door_bell_acacia
        cfm:door_bell_dark_oak
        thaumcraft:activator_rail
        cyclicmagic:wireless_transmitter
        cyclicmagic:wireless_receiver
        cyclicmagic:doorbell_simple
        cyclicmagic:button_large
        cyclicmagic:clock
        cyclicmagic:target
        cyclicmagic:password_block
        davincisvessels:crate_wood
        refinedstorage:detector
     >
    S:highprioritydisassembly_blocks <
        minecraft:piston_head
        minecraft:piston_extension
     >
    S:lowpriorityassembly_blocks <
        minecraft:redstone_wire
        minecraft:obsidian
     >
    S:lowprioritydisassembly_blocks <
        minecraft:end_portal
        minecraft:portal
        minecraft:redstone_wire
     >
}


